html, body, .main {
    padding: 0;
    margin: 0;
    height: 100%;
    background-color: #999;
}

.main {
    display: flex;
    align-items: center;
}

.calculator,
.button {
    font-family: "Courier New";
}

.calculator {
    background-color: #fff;
    width: 600px;
    border: 1px solid black;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.result-panel {
    border: 1px solid red;
    min-height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.result {
    font-size: 56px;
    font-weight: bold;
}

.buttons-panel {
    display: flex;
    flex-wrap: wrap;
}

.button {
    font-size: 56px;
    font-weight: bold;
    width: 25%;
    padding: 15px;
}