:root {
    --font-family-base: "Segoe UI";
    --assets-font-family: 'Segoe MDL2 Assets';


    --calc-text-color-base: #fff;
    --calc-background-color: #202020;
    --calc-box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.7);
    --calc-border: 2px solid #616161;

    --calc-result-display-font-size: 48px;

    --calc-button-background-color-base: #323232;
    --calc-button-digit-background-color: #3b3b3b;
    --calc-button-font-size: 20px;

    --calc-width: 420px;
    --calc-buttons-gap: 2px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: #999;
    font-family: var(--font-family-base);
}

.container {
    display: flex;
    align-items: center;
    height: 100%;
}

.calculator {
    background-color: var(--calc-background-color);
    color: var(--calc-text-color-base);
    box-shadow: var(--calc-box-shadow);
    border-top: var(--calc-border);
    width: var(--calc-width);
    margin: 0 auto;
    padding: 8px;
    display: flex;
    flex-direction: column;
}

.calculator .displays-panel {
    min-height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator .result-display {
    width: 100%;
    font-size: var(--calc-result-display-font-size);
    font-weight: 600;
    text-align: right;
    padding-right: 10px;
}

.calculator .buttons-panel {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: var(--calc-buttons-gap);
}

.calculator .button {
    display: grid;
    padding: 7px 16px;
    font-family: var(--font-family-base);
    color: var(--calc-text-color-base);
    font-size: var(--calc-button-font-size);
    background-color: var(--calc-button-background-color-base);
    border: 0;
    border-radius: 5px;
}

.calculator .button[data-type="digit"] {
    background-color: var(--calc-button-digit-background-color);
}

.calculator .button-equals {
    background-color: #80d6ff;
    color: var(--calc-background-color);
}