:root {
    --calc-font-family: "Segoe UI";
    --calc-assets-font-family: 'Segoe MDL2 Assets';
    --calc-text-color: #fff;
    --calc-width: 500px;

    --calc-grey-color: #323232;
    --calc-grey-light-color: #3b3b3b;
    --calc-grey-lighter-color: #9c9c9c;
    --calc-grey-dark: #202020;
    --calc-blue-color: #80d6ff;
    --calc-blue-dark-color: #76c3e8;
    --calc-blue-darker-color: #6cb1d2;

    --calc-background-color: var(--calc-grey-dark);
    --calc-box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.7);
    --calc-border: 2px solid #616161;

    --calc-expression-display-font-size: 15px;
    --calc-expression-display-text-color: var(--calc-grey-lighter-color);
    --calc-result-display-font-size: 48px;


    --calc-button-font-size: 20px;
    --calc-button-background-color: var(--calc-grey-color);
    --calc-button-hover-background-color: var(--calc-grey-light-color);
    --calc-button-active-background-color: var(--calc-grey-color);
    --calc-number-set-area-background-color: var(--calc-grey-light-color);
    --calc-number-set-area-hover-background-color: var(--calc-grey-color);
    --calc-number-set-area-active-background-color: var(--calc-grey-dark);
    --calc-button-equals-background-color: var(--calc-blue-color);
    --calc-button-equals-hover-background-color: var(--calc-blue-dark-color);
    --calc-button-equals-active-background-color: var(--calc-blue-darker-color);

    --calc-buttons-gap: 2px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: #999;
    font-family: var(--calc-font-family);
}

.container {
    display: flex;
    align-items: center;
    height: 100%;
}

.calculator {
    background-color: var(--calc-background-color);
    color: var(--calc-text-color);
    box-shadow: var(--calc-box-shadow);
    border-top: var(--calc-border);
    width: var(--calc-width);
    margin: 0 auto;
    padding: 8px;
    display: flex;
    flex-direction: column;
}

.calculator .displays-panel {
    min-height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.calculator .expression-display {
    width: 100%;
    font-size: var(--calc-expression-display-font-size);
    line-height: var(--calc-expression-display-font-size);
    color: var(--calc-expression-display-text-color);
    text-align: right;
    padding-right: 10px;
    margin-bottom: 4px;
}

.calculator .result-display {
    width: 100%;
    font-size: var(--calc-result-display-font-size);
    line-height: var(--calc-result-display-font-size);
    font-size-adjust: 0.5;
    font-weight: 600;
    text-align: right;
    padding-right: 10px;
}

.calculator .buttons-panel {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: var(--calc-buttons-gap);
}

.calculator .button {
    display: grid;
    padding: 12px 20px;
    font-family: var(--calc-font-family);
    color: var(--calc-text-color);
    font-size: var(--calc-button-font-size);
    background-color: var(--calc-button-background-color);
    border: 0;
    border-radius: 5px;
}

.calculator .button:hover {
    background-color: var(--calc-button-hover-background-color);
}

.calculator .button:active {
    background-color: var(--calc-button-active-background-color);
}

.calculator .number-set-area {
    background-color: var(--calc-number-set-area-background-color);
}

.calculator .number-set-area:hover {
    background-color: var(--calc-number-set-area-hover-background-color);
}

.calculator .number-set-area:active {
    background-color: var(--calc-number-set-area-active-background-color);
}

.calculator .button-equals {
    background-color: var(--calc-button-equals-background-color);
    color: var(--calc-grey-dark);
}

.calculator .button-equals:hover {
    background-color: var(--calc-button-equals-hover-background-color);
}

.calculator .button-equals:active {
    background-color: var(--calc-button-equals-active-background-color);
}
